.container{
  .c{
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .content{
    width: 35rem;

  }
}
.payment{
  margin-top: 10px;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  button{
    width: 300px;
  }

}
