.container{
  position: relative;
  width: 35rem;
  height: 22rem;
  text-align: center;
}
.map{
  width: 100%;
  height: 100%;
}
.find-location{
  position: absolute;
  margin: auto;
  width: 15rem;
  //min-height: 3rem;
  font-size: 1.2rem;
  top:20px;
  left:0;
  right: 0;
  background-color: #ffffff7c;
  z-index: 1000;
  transition: height 0.3s, font-size 0.3s;


  &:hover{
    //transition: ease-out;
    background-color: white;
    height: 2.6rem;
    font-size: 1.3rem;

  }


}
