table{
  width: 100%;
  border: 1px solid grey;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
h3{
  margin-top: 0.3rem;
  margin-left: 0.3rem;
}
td{
  height: 3rem;
  img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 100rem ;
  }
}
