<mat-toolbar color="primary">
  <a class="main" routerLink="/">Fast Food</a>
  <span class="example-spacer"></span>
  <div class="home">
    <ul>
      <li>
        <a>Login</a>
      </li>
      <li class="manu-container">
        <a>User</a>
        <div class="manu">
          <a>Profile</a>
          <a>Orders</a>
          <a>Logout</a>
        </div>
      </li>
      <li>
        <a class="cart" routerLink="/cart-page">Cart <span *ngIf="cartQuantity"  [matBadge]="cartQuantity" matBadgeColor="warn" ></span></a>
      </li>
    </ul>
  </div>
</mat-toolbar>
