.example-spacer{
  flex: 1 1 auto;

}

.home {

  ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-top: 17px;
    li{
    cursor: pointer;

    }


    a {
      padding: 0.2rem;
      display: inline-block;
      color: white;
      &:hover{
        color: #9977da;
      }

    }
  }
  .manu-container{
      position: relative;
    &:hover .manu{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      cursor: pointer;
      color: black;
    }
    .manu{
        position:absolute;
        z-index:1;
        background:whitesmoke;
        display: none;
      a{
        width: 100%;
        min-width:8rem;
        &:hover{
          color:#7e4ae6;
        }
      }
    }
  }
}
.main{
  color: white;
}
.cart{
  color: white;
  span{
    margin-left: 15px;
  };

}
::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel {
    min-width: 119px;
    max-width: 280px;
    overflow: auto;
    background: #7e4ae6;
  color: white !important;
    -webkit-overflow-scrolling: touch;
    position: relative;

}
::ng-deep .mdc-list-item__primary-text{
  color: white !important;
}
