<div class="container">
  <div class="details">
    <app-title title="{{'login.log' | translate}}"></app-title>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <text-input [controls]="fc.email"
                  [showError]="isSubmitted"
                  type="email"
                  label="{{'login.email' | translate | uppercase}}">

      </text-input>
      <text-input [controls]="fc.password"
                  [showError]="isSubmitted"
                  type="password"
                  label="{{'login.pass' | translate}}">

      </text-input>
      <div class="button">
        <button mat-raised-button color="warn">{{"login.submit"| translate}}</button>
      </div>
      <div class="register">
        {{"login.nw" | translate}} &nbsp;
        <a routerLink="/register" [queryParams]="{ returnUrl : returnUrl }">{{"login.newUsr" | translate}}</a>
      </div>
    </form>
  </div>
</div>

