.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
}

.details{
  width: 350px
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-list{
  color: red;
}

.register{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px 0
}
button{
  width: 200px;
}
.login{
  display: flex;
  justify-content: center;
  align-items: center;

}
