<div class="container">
  <div class="details">
    <app-title [title]="'Register'"></app-title>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <text-input [controls]="fc.name" label="Name"  [showError]=isSubmitted type="text"></text-input>
      <text-input [controls]="fc.email" label="Email" [showError]="isSubmitted" type="text"></text-input>
      <text-input [controls]="fc.password" label="Password" [showError]="isSubmitted" type="password"></text-input>
      <text-input [controls]="fc.confirmPassword" label="Confirm Password" [showError]="isSubmitted" type="password"></text-input>
      <text-input [controls]="fc.address" label="Address" [showError]="isSubmitted" type="text"></text-input>
      <div class="button">
      <button mat-raised-button color="warn">Register</button>
      </div>
        <div class="login">
        Already a user? &nbsp;
        <a routerLink="/auth/login" [queryParams]="{returnUlr:url}">Login here</a>
      </div>
    </form>
  </div>
</div>
