<app-not-found
[visible]="!foods"
notFound="Food Not Found"
resetLintText="Back To HomePage"
></app-not-found>
<div *ngIf="foods" class="container">
  <img [src]="foods.imageUrl" [alt]="foods.name"/>

  <div class="details">
    <div class="header">
      <span class="name">
        {{foods.name | translate }}
<!--        {{'' | translate: { food: foods.name } }}-->
      </span>
      <span class="favorite {{foods.favorite? '': 'not'}}">❤</span>
    </div>
    <div class="rating">
      <star-rating
        [value]="foods.stars"
        [totalstars]="5"
        checkedcolor="red"
        uncheckedcolor="black"
        size="25px"
        [readonly]="true">
      </star-rating>
    </div>

    <div class="origins">
      <span *ngFor="let origin of foods.origins">
        {{origin}}
      </span>
    </div>

    <div class="tags">
      <a *ngFor="let tag of foods.tags" routerLink="/tag/{{tag}}">
        {{tag}}
      </a>
    </div>

    <div class="cook-time">
      <span>
       {{"cookTime" | translate}}<strong>{{foods.cookTime}}</strong> {{"minutes" | translate}}
      </span>
    </div>

    <div class="price">
      <span>
        {{foods.price | currency}}
      </span>
    </div>

    <button (click)="addToCart()" mat-raised-button color="warn">Add To Cart</button>

  </div>
</div>
